#main-container {
	width: 100%;
	height: 100%;
}
#list-container {
	height: 100%;
}
@media (min-width: 600px) {
	#list-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}	
}
@media (max-width: 600px) {
	#list-container {
		margin: 0 auto;
		width: 100%;
	}	
}
header.title {
	padding: 10px 16px;
	border-bottom: 1px dashed rgba(0,0,0,0.1);
}
.summary summary {
	padding: 1em;
}
.read-more {
	font-size: 18px;
	padding: 1em;
}
.read-more a {
	text-decoration: none;
}