<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{.Site.Title}}</title>
  <meta name="description" content="">
  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <!-- Chrome / Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="black">
  <link rel="icon" href="/icon.png">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <!-- Safari / iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Web Components -->
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- import elements -->
  <link rel="import" href="/elements.html">
  <link rel="import" href="/themes.html">
  <link rel="stylesheet" href="/single.css">
</head>

<body unresolved class="fullbleed">
  <template is='dom-bind' id="single">
    <!-- content -->
    <paper-scroll-header-panel main condenses class="flex">
      <!-- top toolbar -->
      <paper-toolbar class="tall">
        <paper-icon-button icon="home"></paper-icon-button>
        <div class="bottom title">{{.Site.Title}}</div>
      </paper-toolbar>
      <div main class="vertical layout center" id="main-container">
        <paper-material elevation="2" id="article-container" class="vertical layout">
          <article class="fullbleed flex">
            <header class="title vertical layout">
              <div class="path">
                <span><a href="{{.Site.BaseURL}}">Home</a></span>
                >
                <span>{{title .Section}}</span>
              </div>
              <h1>{{.Title}}</h1>
              <time>{{.Date.Format "Mon Jan 2, 2006"}}</time>
            </header>
            <section class="content">{{.Content}}</section>
            <!-- tags and navigator -->
            <footer class="footer">
              <div class="vertical layout">
                <div class="tags horizontal layout start">
                  {{$baseurl := .Site.BaseURL}}
                  {{range .Params.tags}}
                  <a href="{{$baseurl}}/tags/{{. | urlize}}">
                    <paper-button>{{.}}</paper-button>
                  </a>
                  {{end}}
                </div>
                <div class="navigator horizontal layout space-between">
                  {{if .Prev}}
                  <a href="{{.Prev.Permalink}}">
                    <paper-button>
                      <iron-icon icon="arrow-back"></iron-icon>
                      <span>{{.Prev.Title}}</span>
                    </paper-button>
                  </a>
                  {{end}}
                  <div class="flex"></div>
                  {{if .Next}}
                  <a href="{{.Next.Permalink}}">
                    <paper-button>
                      <span>{{.Next.Title}}</span>
                      <iron-icon icon="arrow-forward"></iron-icon>
                    </paper-button>
                  </a>
                  {{end}}
                </div>
              </div>
            </footer>
          </article>
        </paper-material>
      </div>
    </paper-scroll-header-panel>
  </template>
</body>

</html>
