<!-- list.html -->
<md-whiteframe class="md-white-frame-z1" layout="column" flex>
	<div layout="column" layout-align="start center" flex>
		<md-list layout="column" layout-align="start center" layout-fill flex>
			<md-list-item ng-repeat="article in articles | filter:search.q | page:perPage:position" layout layout-align="center" layout-fill>
				<md-card class="article-card">
					<md-card-content flex flex-order='1'>
						<h2 class="md-title" ng-bind="article.title"></h2>
						<md-content ng-bind="article.summary"></md-content>
					</md-card-content>
					<md-divider flex flex-order='2'></md-divider>
					<!-- action bar -->
					<md-action-bar layout layout-margin layout-align="space-between center" flex flex-order='3'>
						<div>{{article.time}}</div>
						<md-button class="md-primary" ng-href="/articles/{{article.id}}">
							<div style="margin: 5px 20px 5px 20px">
								<span>More</span>
								<i class='fa fa-angle-right'></i>
							</div>
						</md-button>
					</md-action-bar>
				</md-card>
			</md-list-item>
			<!-- page nav bar -->
			<div layout layout-margin layout-padding layout-align="space-around center">
				<md-button class='md-primary' ng-disabled="position == 0">
					<div style="margin: 5px 20px 5px 20px">
						<i class='fa fa-angle-left'></i>
						<span>Previous</span>
					</div>
				</md-button>	
				<md-button class='md-primary' ng-disabled="position == maxPage()">
					<div style="margin: 5px 20px 5px 20px">
						<span>Next</span>
						<i class='fa fa-angle-right'></i>
					</div>
				</md-button>	
			</div>
		</md-list>
	</div>
</md-whiteframe>