<div ng-controller="SingleCtrl" layout="column" layout-fill>
	<md-toolbar class="md-primary" layout>
		<div class="md-toolbar-tools" flex>
			<h3>Blog</h3>
			<div flex></div>
			<md-button ng-href="https://github.com/fanyang01" target='_blank' aria-label='github'>
				<i class='fa fa-github nav-icon-button'></i>
			</md-button>
			<md-button ng-href="http://weibo.com/yangfan124" target='_blank' aria-label='weibo'>
				<i class='fa fa-weibo nav-icon-button'></i>
			</md-button>
			<md-button ng-href="mailto:fan.yang0x1@yahoo.com" aria-label='email'>
				<i class='fa fa-envelope nav-icon-button'></i>
			</md-button>
		</div>
	</md-toolbar>
	<div layout flex>
		<!-- content -->
		<md-whiteframe class="md-white-frame-z1" layout layout-align="center" flex>
			<md-card flex='66' layout-fill layout-padding>
				<div layout="column" layout-align="start center" layout-padding>
					<h2 class="md-title" ng-bind="article.title"></h2>
					<md-divider></md-divider>
					<md-content>
						<div ng-bind-html="article.content" class="article"></div>
					</md-content>
				</div>
			</md-card>
		</md-whiteframe>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'fanyang01';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>