<!-- toolbar.html -->
<md-toolbar class="md-primary" layout>
	<div class="md-toolbar-tools" flex>
		<h3>{{title}}</h3>
		<div flex></div>
		<md-button ng-href="https://github.com/fanyang01" target='_blank' aria-label='github'>
			<i class='fa fa-github nav-icon-button'></i>
		</md-button>
		<md-button ng-href="http://weibo.com/yangfan124" target='_blank' aria-label='weibo'>
			<i class='fa fa-weibo nav-icon-button'></i>
		</md-button>
		<md-button ng-href="mailto:fan.yang0x1@yahoo.com" aria-label='email'>
			<i class='fa fa-envelope nav-icon-button'></i>
		</md-button>
	</div>
</md-toolbar>
